  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
        <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-facebook-f"></i
        ></a>

        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-twitter"></i
        ></a>

        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-google"></i
        ></a>

        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-instagram"></i
        ></a>

        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-linkedin-in"></i
        ></a>

        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-github"></i
        ></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <div>
        <ul class="d-flex flex-row justify-content-center">
            <li class="mr-5">
                <%= link_to "About", about_path, class:"text-white h6" %>
            </li>
            <li class="mr-5 ml-5">
                <%= link_to "Contact", contact_path, class:"text-white h6" %>
            </li>
            <li class="mr-5 ml-5">
                <%= link_to "Privacy policy", privacy_policy_path, class:"text-white h6" %>
            </li>
            <li class="ml-5">
                <%= link_to "Terms", '#', class:"text-white h6" %>
            </li>
        </ul>
    </div>
    <br>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <b>© 2020 Copyright | Jorge Ortiz</b>
    </div>
  <!-- Copyright -->