<div class="row">
    <div class="col-sm-6">
        <div class="card d-flex flex-row p-2 rounded">
            <div class="imageCard mt-auto mb-auto ml-3">
            </div>
            <div class="card-body">
                <h5 class="card-title mb-0">Taylor Smith</h5>
                <small class="card-text mb-0"><b>IT Recruiter.</b></small>
                <p class="mb-0">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro sed tempora at ducimus repudiandae quaerat.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card d-flex flex-row p-2 rounded">
            <div class="imageCard2 mt-auto mb-auto ml-3">
            </div>
            <div class="card-body">
                <h5 class="card-title mb-0">Taylor Smith</h5>
                <small class="card-text mb-0"><b>Project manager.</b></small>
                <p class="mb-0">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro sed tempora at ducimus repudiandae quaerat.
                </p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-6">
        <div class="card d-flex flex-row p-2 rounded">
            <div class="imageCard3 mt-auto mb-auto ml-3">
            </div>
            <div class="card-body">
                <h5 class="card-title mb-0">Belinda Roberts</h5>
                <small class="card-text mb-0"><b>CTO.</b></small>
                <p class="mb-0">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro sed tempora at ducimus repudiandae quaerat.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card d-flex flex-row p-2 rounded">
            <div class="imageCard4 mt-auto mb-auto ml-3">
            </div>
            <div class="card-body">
                <h5 class="card-title mb-0">George Wilson</h5>
                <small class="card-text mb-0"><b>Software engineer.</b></small>
                <p class="mb-0">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro sed tempora at ducimus repudiandae quaerat.
                </p>
            </div>
        </div>
    </div>
</div>