<div class="row">
    <div class="col-sm-6">
        <div class="card d-flex flex-row">
            <div class="image">
                <img src="<%= asset_path( 'taylor.jpg' ) %>" width= "200px" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Taylor Smith</h5>
                <p class="card-text">IT Recruiter.</p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro sed tempora at ducimus repudiandae quaerat.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card d-flex flex-row">
            <div>
                <img src="<%= asset_path( 'george.jpg' ) %>" width= "200px" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Jacob Parker</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro sed tempora at ducimus repudiandae quaerat.
                </p>
            </div>
        </div>
    </div>
</div>