<section class="d-flex flex-column">
    <div class="text-center text-white aboutSection d-flex flex-column">
        <h1 class="mt-auto mb-1 display-2">Companies Inc.</h1>
        <p class="mt-0 mb-3">
            www.companies-inc.com
        </p>
        <p class="mb-3 mt-0">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        </p>
       <div class="mb-auto mt-0">
            <%= link_to 'Create account', new_user_registration_path, class:"btn btn-info" if !current_user %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class:"btn btn-danger" if current_user %>
        </div>
    </div>
</section>
<br>
<section class="p-5 mt-5 mb-5">
    <h2 class="text-center">
        About us
    </h2> <br>
    <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi possimus vel ut atque iste exercitationem animi 
        sapiente blanditiis aperiam corporis, optio voluptate cumque veritatis laborum quos
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi possimus vel ut atque iste exercitationem animi 
        sapiente blanditiis aperiam corporis, optio voluptate cumque veritatis laborum quos, odit earum quisquam minima?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi possi 
        sapiente blanditiis aperiam corporis, optio voluptate cumque veritatis laborum quos, odit earum quisquam minima?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi possimus vel ut atque iste exercitationem animi 
        sapiente blanditiis aperiam corporis, optio voluptate cumque veritatis earum quisquam minima?
    </p>
</section>
<br>
<section class="d-flex flex-row justify-content-around mt-5 mb-5">
    <div>
        <h2>Want more information</h2> <br>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, nihil! Cupiditate accusamus unde  <br>
            aliquam perspiciatis accusantium blanditiis adipisci. Omnis laboriosam non dignissimos  <br>
            voluptatum fugit ipsa! Modi minus voluptate dolores. Illum. <br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, nihil! Cupiditate accusamus unde  <br>
            aliquam perspiciatis accusantium blanditiis adipisci. Omnis laboriosam non dignissimos  <br>
            voluptatum fugit ipsa! Modi minus voluptate dolores. Illum. <br>
        </p> <br>
        <%= link_to 'Log in', new_user_session_path, class:"btn btn-info" %>
    </div>
    <div class="imageAboutInfo">
    </div>
</section>
<br>
<section class="p-5 d-flex flex-column mt-5 mb-5">
    <h2 class="text-center mb-5">Our clients</h2>
    <div class="d-flex flex-row mt-2 justify-content-around">
        <h5>Microsoft</h5>
        <h5>Google</h5>
        <h5>Apple</h5>
        <h5>Amazon</h5>
        <h5>Facebook</h5>
        <h5>Twitter</h5>
        <h5>Uber</h5>
    </div>
</section>
<br>
